<div class="content">
  <div class="top-header">
    <div class="row">
      <div class="col-md-6 col-lg-6 heading">
        <h4>Change Password</h4>
      </div>
      <div class="col-md-6 col-lg-6 breadcrumb">
        <ul class="breadcrumb-items"> 
          <li><a routerLink='/dashboard'>Home</a></li>
          <li>&nbsp;/&nbsp;</li>
          <li>Change Password</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="element-content">
    <div class="job-box col-md-6 col-lg-6 col-sm-6 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-3 ">
      <div class="row">
        <div class="col-md-12">
          <form class="search-form"  #passwordForm = "ngForm" name="form" (ngSubmit)="passwordForm.form.valid" novalidate>
            <div class="form-header">
              <h5>Change Password</h5>
            </div>
            <div class="padding-20" >                     
              <div class="form-group row ">
                  <div class="col-md-12 mt-5" >
                    <label class="col-sm-6 " >Enter Current Password <span class="req-field">*</span>
                        &nbsp;:</label>
                    <div class="col-sm-6">
                        <input type="password" id="myInput" class="form-control" placeholder="Enter your current password" name="oldPassword" [(ngModel)]="changesData.oldPassword" #oldPassword="ngModel" required [maxlength]="passwordLength" >
                       
                        <!-- (keyup)="checkOldPassword()" -->  
                        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="invalid-feedback" style="margin-top: 5px;">
                          <div *ngIf="oldPassword.errors.required">Current password is required</div>
                        </div> 
                        <p *ngIf="passwordError" class="invalid-feedback" style="margin-top: 5px;">{{passwordError}}</p>
                    </div>    
                  </div>
                  
                  <div class="col-md-12 mt-5" style="margin-top: 10px;">
                    <label class="col-sm-6" >Enter New Password <span class="req-field">*</span>
                        &nbsp;:</label>
                    <div class="col-sm-6">
                        <input type="password" id="myInput1" name="password" class="form-control " placeholder="Enter New Password"  [(ngModel)]="changesData.password " #password="ngModel" [ngClass]="{ 'is-invalid': passwordForm.submitted && password.invalid }" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&]).{8,}" required title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character" [maxlength]="passwordLength">
                        <div *ngIf="password.touched && password.invalid" class="invalid-feedback" style="margin-top: 5px;">
                          <div *ngIf="password.errors.required">Password is required</div>
                        </div>
                        <div *ngIf="password.errors?.pattern" class="invalid-feedback" style="margin-top: 5px;">Password should contain minimum eight characters, at least one uppercase & lowercase letter, one number and one special character
                        </div>
                        <p *ngIf="password.touched && changesData.password == changesData.oldPassword" class="invalid-feedback" style="margin-top: 5px;">Current Password and New Password cannot be same</p>
                    </div>   
                  </div>
                  
                  <div class="col-md-12 mt-5" style="margin-top: 10px;">
                      <label class="col-sm-6 " >Confirm Password <span class="req-field">*</span>
                          &nbsp;:</label>
                      <div class="col-sm-6  mt-5">
                          <input type="password" name="cpassword" class="form-control" placeholder="Confirm New Password" id="myInput2" [(ngModel)]="changesData.cpassword" #cpassword="ngModel" [ngClass]="{ 'is-invalid': passwordForm.submitted && cpassword.invalid }" required [maxlength]="passwordLength" >
                          <div *ngIf="(cpassword.touched && cpassword.errors) || changesData.password!=changesData.cpassword" style="margin-top: 5px;">
                            <p *ngIf="cpassword.touched && cpassword.errors" class="invalid-feedback">Please Confirm Password</p>
                            <p *ngIf="cpassword.touched && changesData.password!=changesData.cpassword" class="invalid-feedback">Passwords didn't match</p>
                           </div>
                      </div>
                  </div>
              </div>
              <div class="form-group row" style="margin-top: 10px;">
                <div class="col-sm-7">
                  <button type="submit" class="btn btn-primary mlr-5" [disabled]="!passwordForm.valid || changesData.password == changesData.oldPassword || changesData.password!=changesData.cpassword" (click)="changePassword(passwordForm)" id="submit">Update</button>
                  <button type="reset" class="btn btn-info mlr-5" id="reset">Reset</button>
                  <button class="btn btn-danger mlr-5" (click)="cancel()" id="back">Cancel</button>
                </div>
                <div class="col-sm-5" >
                  <p id="text" style="font-weight: bold; display: none;" class="invalid-feedback">WARNING! Caps lock is ON.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
      
      
<div class="popupbox_wrap" *ngIf="isSuccess">
  <div class="popupbox">
    <div class="row"><button class="close" id="close" type="button" routerLink="/dashboard/dashboard"><span class="close-label"><i class="fa fa-times"
            aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
    <p class="bg-success">{{ result.data }}</p>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->
  
  
<div class="popupbox_wrap" *ngIf="isFailure">
  <div class="popupbox">
    <div class="row"><button class="close" id="closePopup" type="button" (click)="closePopup()"><span class="close-label"><i class="fa fa-times"
            aria-hidden="true"></i> Close</span><span class="os-icon os-icon-close"></span></button></div>
    <p class="bg-success">{{ result.errorMessages }}</p>
    <!--row-->
  </div>
  <!--popupbox-->
</div>
<!--popupbox_wrap-->  